main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#divForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

fieldset {
  padding: 8px;
  margin-top: 15px;
  border: 3px solid silver;
}

main h2 {
  width: 100%;
  text-align: center;
  font-style: oblique;
}

label {
  display: block;
  margin-top: 2px;
}

input {
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.boton {
  margin-top: 2%;
  color: white;
  border-radius: 0%;
  border: none;
  font-size: small;
}

#botones_form {
  text-align: center;
}

#btnGuardar:hover {
  background-color: #44dc96;
}

#btnEliminar {
  display: none;
}

#btnEliminar:hover {
  background-color: #f03214;
}

#btnCancelar {
  display: none;
}

#btnCancelar:hover {
  background-color: #1e50e6;
}

span {
  display: none;
}

.divTabla {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tablaListado, .tablaListado th, .tablaListado td {
  border: 1px solid black;
  border-collapse: collapse;
}

.tablaListado thead {
  background-color: aqua;
}

.iconos {
  width: 20px;
  height: 20px;
}

.cbo {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

header, footer {
  color: white;
}

#headerDiv {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

li {
  padding-right: 5px;
  text-decoration: none;
  list-style: none;
}

#logo {
  width: 100px;
  margin-left: 5px;
}

#autoMain {
  width: 90%;
  height: 180px;
}

#divGuardar img {
  margin-top: 5%;
  width: auto;
  height: 15px;
}

#spinner {
  display: block;
  padding-top: 10px;
  margin: auto;
}

#sectorPromedio {
  width: 80%;
  margin: auto;
  border-width: 2px;
  border-style: solid;
  border-color: silver;
}

#filtroPromedio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1%;
}

#selectFiltros {
  margin-top: 2%;
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.filtros {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.filtros p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.filtros input {
  width: 100%;
  margin: auto;
}

form {
  border: none;
}

.col {
  text-align: end;
}

.dropdown {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=index.css.map */